* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(236, 236, 236);
}
.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}
.text-secondary {
  font-weight: 900;
  font-size: medium;
}
.col-md-2 {
  background-color: white;
}
.header {
  width: 100%;
  height: fit-content;
  background-color: #35858b;
  line-height: 60px;
}
/*Navbar css */
.nav-items {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.logo {
  color: white;
  text-decoration: none;
}

.logo-box {
  width: 10%;
  color: white;
  font-size: larger;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 900;
}
.search-box {
  width: 50%;
  position: relative;
}
.search-box input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.search-icon {
  position: absolute;
  right: 10px;
}
.icon-link {
  color: blue;
}
.icon-link:hover {
  font-size: 1.2em;
}
nav ul {
  display: flex;
}
.login-link {
  text-decoration: none;
  color: white;
  font-weight: 900;
  padding: 20px;
}
.logo:hover,
.login-link:hover {
  text-decoration: none;
}
.cart-link {
  color: white;
}
@media all and (max-width: 768px) {
  .nav-items {
    width: 90%;
    display: block;
  }
  .search-box {
    width: 100%;
  }
  nav ul {
    position: absolute;
    top: 0;
    right: 0;
  }
}
/* category css */
.category {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.category ul {
  display: flex;
  justify-content: center;
}
.category-link {
  color: rgb(92, 85, 85);
  text-decoration: none;
  font-size: 1em;
  font-weight: 300;
  padding: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.category-link:hover {
  text-decoration: none;
  color: #35858b;
  font-size: 1.3em;
  border-bottom: 3px solid #865439;
}
.hover-zoom:hover{
  transform: scale(1.02);
}
.dropdown a{
  font-weight: 900;
}
@media all and (max-width: 350px) {
  .category-link {
    font-size: 1em;
  }
}

/* Products css */

.image {
  width: 13vw;
  height: 10vw;
  margin: auto;
}

.checked {
  color: orange;
}
.unchecked {
  color: rgb(131, 121, 121);
}
.title{
  text-align:left;
}
@media all and (max-width: 575px) {
  .image {
    width: 50vw;
    height: 30vw;
    margin: auto;
  }
}

/*Loader*/
.loader {
  color: white;
  margin: auto;
  margin-top: 5%;
  font-size: small;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Footer*/
